
:root {
    --cor-primaria: #2d075ff1;
    --cor-link: #000000;
    --cor-head: #a100e0;
    --color-headhove: #fffafa;
    --color-h1:#ff1100;
    --color--txt-top:#07e2ff;
    --color--border:#000000 ;
    --color-h3: #000000;
    --color-p:#0cceff;
    --color-footer:#000000;
    --color-footer-txt:#ffffff;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-primaria);
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}
.flex{
    display: flex;
}

header {
    padding: 40px 4%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;         
}

header a {
    color: var(--cor-link);
    text-decoration: none;
    display: inline-block;
    transition: 60ms;
}

header a:hover{
    color:var(--color-headhove) ;
    transform: scale(1.05);
    box-shadow: 0px 0px 8px #858585 
     }

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 10px 40px;
    font-size: 18px;
    background-color: var(--cor-head);
    border: 0;
    border-radius: 30px;
}

section.top-site{
    padding: 40px 4%;
}

section.top-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.top-site h1{
   color: var(--color-h1);
   font-size: 52px;
   line-height: 40px;
}

.top-site .txt-top-site p{
 color: var(--color--txt-top);
 margin: 40px 0;
 text-align: justify;
 font-size: 20px;
}

.top-site .img-top-site img{
 position: relative;
 animation:  flutuar 2s ease-in-out infinite alternate ;
 border-radius: 30px;
}

@keyframes flutuar{
0%{
    top:0;
}
100%{
    top: 30px;
}
}

.apresentacao-membros {
background-color: var(--cor-secundaria);
color: var(--cor-link);
padding: 40px 4%;

}



.membro {
flex: 1;
text-align: center;
margin: 20px;
border: 5px solid var(--color--border);
border-radius: 30px;
padding: 20px 50px;
display: inline-block;
box-shadow: 0px 0px 8px #858585 ;
}

.membro img {
width: 150px;
height: 150px;
border-radius: 50%;
margin-bottom: 10px;
border: 2px solid var(--cor-primaria);
border-radius: 30px;
box-shadow: 0px 0px 8px #858585; 
}

.membro h3 {
font-size: 24px;
margin-bottom: 10px;
color: var(--color-h3);
}

.membro p {
font-size: 16px;
line-height: 1.6;
text-align: justify;
color: var(--color-p);

}

main {
margin-bottom: 30px; /* Adiciona um espaçamento inferior */
}


footer {
background-color: var(--color-footer);
color: var(--color-footer-txt);
text-align: center;
padding: 20px 50px;
position:relative;
bottom: 0;
width: 100%;
font-size: 18px;
}

